  <div class='card mb-3 shadow-sm rounded' style='max-width:600px;'>
    <div class='card-body bg-light'>
      <p style='font-size:1.5rem;'><%= @restaurant.name %></p>
      <p><%= @restaurant.address %></p>
      <p><%= @restaurant.phone_number %></p>
      <p><%= @restaurant.category %></p>

      <h3> reviews </h3>

      <div style='display:flex; flex-direction:column; gap:20px;'>
        <% @restaurant.reviews.each do |review| %>
          <div>
            <%= review.content %>
            <br />
            <%= review.rating %>
          </div>
        <% end %>
      </div>


    </div>

    <div class='card-footer bg-white'>
      <div style='display:flex; gap:10px;'>
        <%= link_to "Add Review", new_restaurant_review_path(@restaurant) %>
      </div>
    </div>

      <%# Insert review stuff %>

  </div>
